@page "/servers"

@rendermode InteractiveServer

<h3>Servers</h3>
<br />
<br />
<CityListComponent SelectCityCallback="HandleCitySelection" />

<br />

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Server Servers" @bind-value="ServerFilter"
        @bind-value:event="oninput" />
    <button class="btn btn-outline-secondary" type="button" id="button-search" @onclick="HandleSearch">Search</button>
</div>
<br />

<ServerListComponent @rendermode="InteractiveServer" CityName="@selectedCity"></ServerListComponent>

<p>
    <a href="/servers/add" class="btn btn-primary">Add Server</a>
</p>

@code {
    private string selectedCity = "Toronto";
    private string _serverFiler = "";
    private string ServerFilter
    {
        get => _serverFiler;
        set
        {
            _serverFiler = value;
            @* servers = ServersRepository.SearchServers(_serverFiler); *@
        }
    }

    private void HandleSearch()
    {
        @* servers = ServersRepository.SearchServers(ServerFilter); *@
        @* selectedCity = string.Empty; *@
    }

    private void HandleCitySelection(string cityName)
    {
        selectedCity = cityName;
    }
}
