@page "/servers"

@rendermode InteractiveServer

<h3>Servers</h3>
<br />
<CityListComponent @ref="cityListComponent" SelectCityCallback="HandleCitySelection" />
<br />
<SearchComponent @ref="searchComponent" HandleSearchCallback="HandleSearch"></SearchComponent>
<br />
<ServerListComponent @rendermode="InteractiveServer" CityName="@_selectedCity" SearchFilter="@_searchFilter"></ServerListComponent>
<p>
    <a href="/servers/add" class="btn btn-primary">Add Server</a>
</p>

@code {
    private string _selectedCity = "Toronto";
    private string _searchFilter = "";

    private CityListComponent? cityListComponent;
    private SearchComponent? searchComponent;

    private void HandleSearch(string searchFilter)
    {
        _searchFilter = searchFilter;
        cityListComponent?.ClearSelection();
    }

    private void HandleCitySelection(string cityName)
    {
        _selectedCity = cityName;
        _searchFilter = string.Empty;
        searchComponent?.ClearFilter();
    }
}
